# Load Horizons Data into KeplerDB

In [1]:
import numpy as np
import pandas as pd

In [2]:
# MSE imports
import kepler_sieve
from horizons_files import hrzn_txt2csv, hrzn_csv2df

In [3]:
# fname_txt = '../data/jpl/horizons/planets/010_sun.txt'
fname_txt = '../data/jpl/horizons/planets/001_mercury_barycenter.txt'

In [4]:
fname_csv = hrzn_txt2csv(fname_txt)

In [5]:
df = hrzn_csv2df(fname_csv)

In [6]:
df

,BodyNumber,BodyName,IntegrationSource,JD,CalendarDateTime,delta_T,qx,qy,qz,vx,vy,vz
0,199,Mercury Barycenter,DE431mx,2440400.5,1969-06-28,39.699541,0.361763,-0.117386,-0.042531,0.003367,0.027990,0.001976
1,199,Mercury Barycenter,DE431mx,2440405.5,1969-07-03,39.712359,0.352157,0.027621,-0.029811,-0.007593,0.029323,0.003091
2,199,Mercury Barycenter,DE431mx,2440410.5,1969-07-08,39.725179,0.283456,0.167081,-0.012116,-0.019900,0.025415,0.003903
3,199,Mercury Barycenter,DE431mx,2440415.5,1969-07-13,39.738000,0.156544,0.270626,0.007995,-0.030120,0.014945,0.003987
4,199,Mercury Barycenter,DE431mx,2440420.5,1969-07-18,39.750824,-0.006576,0.308885,0.026101,-0.033758,0.000025,0.003103
...,...,...,...,...,...,...,...,...,...,...,...,...
7436,199,Mercury Barycenter,DE431mx,2477580.5,2071-04-14,69.185631,-0.200625,-0.420484,-0.015882,0.019721,-0.010778,-0.002687
7437,199,Mercury Barycenter,DE431mx,2477585.5,2071-04-19,69.185603,-0.095919,-0.458456,-0.028576,0.021898,-0.004339,-0.002360
7438,199,Mercury Barycenter,DE431mx,2477590.5,2071-04-24,69.185564,0.015693,-0.463319,-0.039194,0.022476,0.002434,-0.001859
7439,199,Mercury Barycenter,DE431mx,2477595.5,2071-04-29,69.185516,0.126015,-0.433873,-0.046889,0.021356,0.009350,-0.001191
7440,199,Mercury Barycenter,DE431mx,2477600.5,2071-05-04,69.185457,0.226075,-0.370010,-0.050829,0.018327,0.016147,-0.000358

In [7]:
import sqlalchemy

In [8]:
from sqlalchemy import create_engine

In [9]:
create_engine('mysql://michael:Italia640@Thor')

ModuleNotFoundError: No module named 'MySQLdb'

In [10]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
conn = pymysql.connect(host='127.0.0.1', unix_socket='/tmp/mysql.sock', user='root', passwd=None, db='mysql')