# Load Horizons Data into KeplerDB

In [1]:
# Core
import numpy as np
import pandas as pd

# Utility
import re
import glob
import time

# Database
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# MSE imports
import kepler_sieve
from horizons_files import hrzn_txt2csv, hrzn_csv2df, hrzn_df2db, hrzn_txt2db, hrzn_csv2db, hrzn_load
import db_config

## Load all the Horizons CSV Files into JPL.HorizonsImport

In [3]:
hrzn_load()

HBox(children=(FloatProgress(value=0.0, max=448.0), HTML(value='')))

## Testing - Load CSV, Display as DataFrame

In [ ]:
fname_txt = '../data/jpl/horizons/planets/010_sun.txt'
# fname_txt = '../data/jpl/horizons/planets/001_mercury_barycenter.txt'
# fname_txt = '../data/jpl/horizons/moons/301_moon.txt'
# fname_txt = '../data/jpl/horizons/asteroids/ast_0001.txt'

In [ ]:
fname_csv = hrzn_txt2csv(fname_txt)

In [ ]:
# hrzn_csv2db(fname_csv)

In [ ]:
fname_csv

In [ ]:
df = hrzn_csv2df(fname_csv)

In [ ]:
pd.set_option('display.max_rows', 20)

## Testing - Populate Database from CSV

In [ ]:
connection_str = f'mysql+pymysql://{db_config.username}:{db_config.password}@{db_config.hostname}/JPL'

In [ ]:
engine = create_engine(connection_str)

In [ ]:
engine.table_names()

In [ ]:
type(engine.connect())

In [ ]:
sqlalchemy.engine.Connection

In [ ]:
sql = \
f"""
load data infile '{fname_csv}'
into table JPL.HorizonsImport 
fields terminated by ','
lines terminated by '\n'
ignore 1 lines
(BodyTypeCD, BodyNumber, BodyName, IntegrationSource, JD, CalendarDateTime, delta_T, qx, qy, qz, vx, vy, vz)
set HorizonsImportID = NULL;
"""

In [ ]:
sql

In [ ]:
print(sql)

In [ ]:
sql = 'select * from JPL.HorizonsImport limit 10;'

In [ ]:
with engine.connect() as conn:
    conn.execute(sql)

In [ ]:
hrzn_txt2db(fname_txt)