In [1]:
# Core
import numpy as np
import pandas as pd
from scipy.interpolate import CubicSpline

In [3]:
# Local imports
import kepler_sieve
# from asteroid_element import get_asteroids
from asteroid_data import load_ast_vectors, load_ast_data, ast_add_earth_vectors, ast_add_earth_pos
from asteroid_spline import spline_ast_vec
from db_config import db_engine
from db_utils import sp2df

In [4]:
# df_ast_vectors = load_ast_vectors(n0=1, n1=11)

In [5]:
# df_ast_data = load_ast_data(n0=0, n1=10)

In [6]:
df_ast = load_ast_data(n0=1, n1=11)

In [7]:
ast_add_earth_pos(df_ast)

In [8]:
df_ast

,TimeID,AsteroidID,mjd,qx,qy,qz,vx,vy,vz,a,e,inc,Omega,omega,f,M,earth_qx,earth_qy,earth_qz
0,69120000,1,48000.0,-1.155142,2.297488,0.282872,-0.009457,-0.005464,0.001583,2.768788,0.077540,0.185062,1.408422,1.237946,-0.601468,-0.517779,-0.880033,-0.483797,-0.000050
1,69125760,1,48004.0,-1.192813,2.275319,0.289164,-0.009377,-0.005620,0.001563,2.768752,0.077525,0.185061,1.408417,1.237928,-0.584374,-0.502840,-0.845941,-0.543195,-0.000054
2,69131520,1,48008.0,-1.230156,2.252526,0.295376,-0.009294,-0.005776,0.001543,2.768714,0.077510,0.185060,1.408411,1.237912,-0.567257,-0.487900,-0.807882,-0.600059,-0.000056
3,69137280,1,48012.0,-1.267161,2.229116,0.301507,-0.009208,-0.005929,0.001522,2.768677,0.077495,0.185059,1.408406,1.237895,-0.550118,-0.472959,-0.766061,-0.654113,-0.000055
4,69143040,1,48016.0,-1.303818,2.205093,0.307555,-0.009120,-0.006082,0.001501,2.768639,0.077479,0.185057,1.408400,1.237879,-0.532956,-0.458018,-0.720707,-0.705117,-0.000054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37505,90696960,10,62984.0,0.728575,3.372451,0.098143,-0.008660,0.001518,-0.000541,3.147844,0.104631,0.066710,-1.344509,-0.805467,3.506618,-2.696021,-0.804421,-0.605790,0.000125
37506,90702720,10,62988.0,0.693892,3.378329,0.095975,-0.008681,0.001421,-0.000543,3.147839,0.104631,0.066711,-1.344511,-0.805428,3.516782,-2.683744,-0.762203,-0.659471,0.000130
37507,90708480,10,62992.0,0.659129,3.383816,0.093796,-0.008700,0.001323,-0.000546,3.147833,0.104631,0.066711,-1.344513,-0.805389,3.526955,-2.671469,-0.716489,-0.710085,0.000132
37508,90714240,10,62996.0,0.624289,3.388913,0.091606,-0.008719,0.001225,-0.000549,3.147828,0.104632,0.066711,-1.344515,-0.805349,3.537136,-2.659194,-0.667499,-0.757430,0.000132
37509,90720000,10,63000.0,0.589378,3.393618,0.089405,-0.008737,0.001127,-0.000551,3.147822,0.104632,0.066711,-1.344516,-0.805309,3.547326,-2.646919,-0.615447,-0.801313,0.000134

In [9]:
mjd = np.arange(48000, 48100, 0.25)

In [10]:
df_out = spline_ast_vec(df_ast=df_ast, mjd=mjd)

In [11]:
df_out

,AsteroidID,mjd,qx,qy,qz,vx,vy,vz,earth_qx,earth_qy,earth_qz
0,1,48000.00,-1.155142,2.297488,0.282872,-0.009457,-0.005464,0.001583,-0.880033,-0.483797,-0.000050
1,1,48000.25,-1.157506,2.296121,0.283268,-0.009453,-0.005474,0.001581,-0.878022,-0.487578,-0.000050
2,1,48000.50,-1.159869,2.294751,0.283663,-0.009448,-0.005484,0.001580,-0.875994,-0.491350,-0.000050
3,1,48000.75,-1.162230,2.293379,0.284058,-0.009443,-0.005494,0.001579,-0.873951,-0.495114,-0.000051
4,1,48001.00,-1.164590,2.292005,0.284452,-0.009438,-0.005503,0.001578,-0.871891,-0.498868,-0.000051
...,...,...,...,...,...,...,...,...,...,...,...
3995,10,48098.75,2.951892,-1.104262,0.174600,0.004426,0.008572,0.000426,0.562749,-0.845273,-0.000061
3996,10,48099.00,2.952997,-1.102119,0.174706,0.004419,0.008575,0.000425,0.566257,-0.842897,-0.000061
3997,10,48099.25,2.954101,-1.099975,0.174812,0.004412,0.008577,0.000425,0.569755,-0.840508,-0.000061
3998,10,48099.50,2.955203,-1.097830,0.174918,0.004405,0.008580,0.000424,0.573243,-0.838103,-0.000061
3999,10,48099.75,2.956304,-1.095685,0.175024,0.004398,0.008582,0.000424,0.576721,-0.835683,-0.000061