In [1]:
# Core
import numpy as np
import pandas as pd

In [9]:
# Local imports
import kepler_sieve
from asteroid_element import get_asteroids
from asteroid_data import load_ast_vectors, load_ast_data, ast_add_earth_vectors, ast_add_earth_pos
from db_config import db_engine
from db_utils import sp2df

In [10]:
df_ast = load_ast_vectors(n0=0, n1=10)

In [11]:
df_ast_data = load_ast_data(n0=0, n1=10)

In [14]:
df_ast

,TimeID,AsteroidID,mjd,qx,qy,qz,vx,vy,vz,earth_qx,earth_qy,earth_qz
0,69120000,1,48000.0,-1.155142,2.297488,0.282872,-0.009457,-0.005464,0.001583,-0.880033,-0.483797,-0.000050
1,69120000,2,48000.0,1.263645,1.622146,-1.221911,-0.011052,0.003894,-0.001794,-0.880033,-0.483797,-0.000050
2,69120000,3,48000.0,-2.327128,-2.304102,0.612546,0.005425,-0.006001,0.001161,-0.880033,-0.483797,-0.000050
3,69120000,4,48000.0,2.389176,0.076269,-0.292686,0.000585,0.010951,-0.000403,-0.880033,-0.483797,-0.000050
4,69120000,5,48000.0,2.217007,1.378914,-0.230212,-0.007175,0.007700,-0.000151,-0.880033,-0.483797,-0.000050
...,...,...,...,...,...,...,...,...,...,...,...,...
33754,90720000,5,63000.0,2.730913,0.617271,-0.204941,-0.003742,0.009037,-0.000444,-0.615447,-0.801313,0.000134
33755,90720000,6,63000.0,-2.844369,0.004555,0.494039,-0.000399,-0.008920,0.001828,-0.615447,-0.801313,0.000134
33756,90720000,7,63000.0,-0.344955,-2.738874,0.016020,0.009450,0.000438,0.000891,-0.615447,-0.801313,0.000134
33757,90720000,8,63000.0,-1.600710,1.520260,0.098735,-0.009114,-0.007027,0.001136,-0.615447,-0.801313,0.000134
33758,90720000,9,63000.0,-0.095203,2.099927,0.082693,-0.012503,-0.000175,0.001132,-0.615447,-0.801313,0.000134

In [13]:
ast_add_earth_pos(df_ast)