In [1]:
# Core
import numpy as np
import pandas as pd
from scipy.interpolate import CubicSpline

# Astronomy
import astropy
from astropy.units import au, minute

In [7]:
# Local imports
import kepler_sieve
from asteroid_data import load_ast_vectors
from asteroid_spline import get_df_shape, make_spline_df
from planets_interp import get_earth_pos
from asteroid_direction import calc_dir_ast2obs
from db_utils import sp2df, df2db
import matplotlib.pyplot as plt

In [3]:
# Calculate the direction and light time
df = calc_dir_ast2obs(n0=0, n1=100)

In [4]:
df

,AsteroidID,TimeID,tAst,qAst_x,qAst_y,qAst_z,vAst_x,vAst_y,vAst_z,LightTime,tObs,qObs_x,qObs_y,qObs_z,ux,uy,uz
0,1,69120000,48000.0,-1.155142,2.297488,0.282872,-0.009457,-0.005464,0.001583,23.365052,48000.016226,-0.879903,-0.484043,-0.000050,-0.097971,0.990081,0.100705
99,1,69125760,48004.0,-1.192813,2.275319,0.289164,-0.009377,-0.005620,0.001563,23.742002,48004.016488,-0.845792,-0.543434,-0.000054,-0.121560,0.987400,0.101312
198,1,69131520,48008.0,-1.230156,2.252526,0.295376,-0.009294,-0.005776,0.001543,24.110400,48008.016743,-0.807715,-0.600292,-0.000056,-0.145719,0.984064,0.101907
297,1,69137280,48012.0,-1.267161,2.229116,0.301507,-0.009208,-0.005929,0.001522,24.469509,48012.016993,-0.765876,-0.654337,-0.000055,-0.170378,0.980034,0.102496
396,1,69143040,48016.0,-1.303818,2.205093,0.307555,-0.009120,-0.006082,0.001501,24.818813,48016.017235,-0.720504,-0.705329,-0.000054,-0.195467,0.975278,0.103079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370952,99,90696960,62984.0,2.347168,2.122528,0.009658,-0.005274,0.006617,0.002086,34.668563,62984.024075,-0.804178,-0.606122,0.000125,0.755986,0.654584,0.002287
371051,99,90702720,62988.0,2.325895,2.148838,0.018000,-0.005362,0.006538,0.002085,34.715220,62988.024108,-0.761938,-0.659785,0.000130,0.739754,0.672864,0.004281
371150,99,90708480,62992.0,2.304276,2.174829,0.026340,-0.005448,0.006457,0.002085,34.740126,62992.024125,-0.716203,-0.710380,0.000132,0.723099,0.690716,0.006274
371249,99,90714240,62996.0,2.282313,2.200496,0.034676,-0.005533,0.006376,0.002083,34.743441,62996.024127,-0.667194,-0.757706,0.000132,0.706041,0.708123,0.008269
371348,99,90720000,63000.0,2.260011,2.225837,0.043007,-0.005618,0.006294,0.002082,34.725189,63000.024115,-0.615124,-0.801567,0.000134,0.688600,0.725069,0.010268

In [5]:
# Rename column tAst back to mjd to match DB schema
df.rename(columns={'tAst':'mjd'}, inplace=True)

# Arguments to df2db
schema = 'KS'
table = 'AsteroidDirections2'
columns = ['AsteroidID', 'TimeID', 'mjd', 'ux', 'uy', 'uz', 'LightTime']
chunksize = 2**19
verbose = False
progbar = True

In [6]:
df2db(df=df, schema=schema, table=table, columns=columns, chunksize=chunksize, verbose=verbose, progbar=progbar)

  0%|          | 0/1 [00:00<?, ?it/s]