In [1]:
# Core
import numpy as np
import pandas as pd

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from rebound_sim import make_sim_planets
from rebound_integrate import integrate_df
from asteroid_element import make_sim_asteroids, get_ast_ref_elts, add_asteroid_elts, get_asteroids
from db_config import db_engine
from db_utils import sp2df

In [3]:
# Typing
from typing import Tuple

In [4]:
# dir_csv: str = '../data/df2db'
# schema = 'KS'
# table = 'StateVectors_Planets'

In [5]:
epoch = 59000
n0 = 0
n1 = 100
elts = get_ast_ref_elts(epoch=epoch, n0=n0, n1=n1)

In [6]:
elts

,AsteroidID,TimeID,AsteroidName,epoch,a,e,inc,Omega,omega,M
0,2,84960000,Pallas,59000.0,2.773841,0.229972,0.607949,3.019851,5.414053,2.530303
1,3,84960000,Juno,59000.0,2.668285,0.256936,0.226736,2.964468,4.329572,2.189260
2,5,84960000,Astraea,59000.0,2.574037,0.190913,0.093679,2.470881,6.259596,0.311477
3,6,84960000,Hebe,59000.0,2.424533,0.203219,0.257255,2.419784,4.184187,3.328107
4,7,84960000,Iris,59000.0,2.387375,0.230145,0.096370,4.530245,2.534245,4.318395
...,...,...,...,...,...,...,...,...,...,...
92,95,84960000,Arethusa,59000.0,3.064051,0.152789,0.226817,4.241497,2.684048,2.578014
93,96,84960000,Aegle,59000.0,3.048360,0.141178,0.278942,5.611058,3.638345,3.115040
94,97,84960000,Klotho,59000.0,2.669021,0.257298,0.205558,2.785849,4.689231,0.723346
95,98,84960000,Ianthe,59000.0,2.686497,0.187233,0.271867,6.176797,2.768649,3.757108
96,99,84960000,Dike,59000.0,2.664873,0.194961,0.241685,0.724558,3.415827,5.845656

In [7]:
# ast

In [8]:
sim = make_sim_asteroids(epoch=epoch, n0=n0, n1=n1)

In [9]:
sim.particles[12]

In [10]:
sim.body_ids

array([     10,       1,       2,     399,     301,       4,       5,
             6,       7,       8,       9, 1000002, 1000003, 1000005,
       1000006, 1000007, 1000008, 1000009, 1000010, 1000011, 1000012,
       1000013, 1000014, 1000015, 1000016, 1000017, 1000018, 1000019,
       1000020, 1000021, 1000022, 1000023, 1000024, 1000025, 1000026,
       1000027, 1000028, 1000029, 1000030, 1000031, 1000032, 1000033,
       1000034, 1000035, 1000036, 1000037, 1000038, 1000039, 1000040,
       1000041, 1000042, 1000043, 1000044, 1000045, 1000046, 1000047,
       1000048, 1000049, 1000050, 1000051, 1000052, 1000053, 1000054,
       1000055, 1000056, 1000057, 1000058, 1000059, 1000060, 1000061,
       1000062, 1000063, 1000064, 1000065, 1000066, 1000067, 1000068,
       1000069, 1000070, 1000071, 1000072, 1000073, 1000074, 1000075,
       1000076, 1000077, 1000078, 1000079, 1000080, 1000081, 1000082,
       1000083, 1000084, 1000085, 1000086, 1000087, 1000088, 1000089,
       1000090, 1000091, 1000092, 1000093, 1000094, 1000095, 1000096,
       1000097, 1000098, 1000099])

In [11]:
sim.body_names

array(['Sun', 'Mercury Barycenter', 'Venus Barycenter', 'Earth', 'Moon',
       'Mars Barycenter', 'Jupiter Barycenter', 'Saturn Barycenter',
       'Uranus Barycenter', 'Neptune Barycenter', 'Pluto Barycenter',
       'SB.Pallas', 'SB.Juno', 'SB.Astraea', 'SB.Hebe', 'SB.Iris',
       'SB.Flora', 'SB.Metis', 'SB.Hygiea', 'SB.Parthenope',
       'SB.Victoria', 'SB.Egeria', 'SB.Irene', 'SB.Eunomia', 'SB.Psyche',
       'SB.Thetis', 'SB.Melpomene', 'SB.Fortuna', 'SB.Massalia',
       'SB.Lutetia', 'SB.Kalliope', 'SB.Thalia', 'SB.Themis',
       'SB.Phocaea', 'SB.Proserpina', 'SB.Euterpe', 'SB.Bellona',
       'SB.Amphitrite', 'SB.Urania', 'SB.Euphrosyne', 'SB.Pomona',
       'SB.Polyhymnia', 'SB.Circe', 'SB.Leukothea', 'SB.Atalante',
       'SB.Fides', 'SB.Leda', 'SB.Laetitia', 'SB.Harmonia', 'SB.Daphne',
       'SB.Isis', 'SB.Ariadne', 'SB.Nysa', 'SB.Eugenia', 'SB.Hestia',
       'SB.Aglaja', 'SB.Doris', 'SB.Pales', 'SB.Virginia', 'SB.Nemausa',
       'SB.Europa', 'SB.Kalypso', 'SB.Alexandra', 'SB.Pandora',
       'SB.Melete', 'SB.Mnemosyne', 'SB.Concordia', 'SB.Elpis', 'SB.Echo',
       'SB.Danae', 'SB.Erato', 'SB.Ausonia', 'SB.Angelina', 'SB.Cybele',
       'SB.Maja', 'SB.Asia', 'SB.Leto', 'SB.Hesperia', 'SB.Panopaea',
       'SB.Niobe', 'SB.Feronia', 'SB.Klytia', 'SB.Galatea', 'SB.Eurydike',
       'SB.Freia', 'SB.Frigga', 'SB.Diana', 'SB.Eurynome', 'SB.Sappho',
       'SB.Terpsichore', 'SB.Alkmene', 'SB.Beatrix', 'SB.Klio', 'SB.Io',
       'SB.Semele', 'SB.Sylvia', 'SB.Thisbe', 'SB.Julia', 'SB.Antiope',
       'SB.Aegina', 'SB.Undina', 'SB.Minerva', 'SB.Aurora', 'SB.Arethusa',
       'SB.Aegle', 'SB.Klotho', 'SB.Ianthe', 'SB.Dike'], dtype=object)