In [1]:
# Core
import numpy as np
import pandas as pd
from scipy.interpolate import CubicSpline, RectBivariateSpline

# Astronomy
import astropy
from astropy.units import au, minute

from typing import List, Optional

In [2]:
# Local imports
import kepler_sieve
from asteroid_data import load_ast_pos
from asteroid_spline import get_df_shape, make_spline_df, spline_ast_data
# from asteroid_spline import make_spline_df, spline_ast_vec, spline_ast_elt
from planets_interp import get_earth_pos
from asteroid_direction import calc_dir_ast2obs, c
from db_utils import sp2df, df2db
import matplotlib.pyplot as plt

In [3]:
# Inputs
n0 = 0
n1 = 100

In [4]:
# Calculate the direction and light time
df = calc_dir_ast2obs(n0=n0, n1=n1)

In [5]:
df

,AsteroidID,TimeID,tAst,qAst_x,qAst_y,qAst_z,tObs,qObs_x,qObs_y,qObs_z,LightTime,ux,uy,uz
0,1,69120000,47999.983776,-1.155142,2.297488,0.282872,48000.0,-0.880033,-0.483797,-0.000050,23.362923,-0.097934,0.990084,0.100715
1,1,69125760,48003.983514,-1.192658,2.275412,0.289138,48004.0,-0.845941,-0.543194,-0.000054,23.740465,-0.121519,0.987404,0.101321
2,1,69131520,48007.983258,-1.230000,2.252623,0.295350,48008.0,-0.807882,-0.600059,-0.000056,24.108877,-0.145674,0.984069,0.101916
3,1,69137280,48011.983008,-1.267005,2.229217,0.301481,48012.0,-0.766061,-0.654113,-0.000055,24.468004,-0.170329,0.980041,0.102504
4,1,69143040,48015.982766,-1.303660,2.205197,0.307529,48016.0,-0.720707,-0.705117,-0.000054,24.817330,-0.195416,0.975287,0.103088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371344,99,90696960,62983.975925,2.347295,2.122368,0.009607,62984.0,-0.804421,-0.605790,0.000125,34.668216,0.756050,0.654510,0.002287
371345,99,90702720,62987.975892,2.326025,2.148681,0.017950,62988.0,-0.762203,-0.659471,0.000130,34.715004,0.739820,0.672791,0.004281
371346,99,90708480,62991.975875,2.304407,2.174673,0.026290,62992.0,-0.716489,-0.710085,0.000132,34.740041,0.723167,0.690645,0.006274
371347,99,90714240,62995.975873,2.282446,2.200342,0.034626,62996.0,-0.667499,-0.757430,0.000132,34.743486,0.706111,0.708053,0.008269
371348,99,90720000,62999.975885,2.260146,2.225685,0.042957,63000.0,-0.615447,-0.801313,0.000134,34.725364,0.688671,0.725001,0.010268