In [1]:
# Core
import numpy as np
import pandas as pd

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from db_utils import sp2df

In [3]:
from asteroid_element import get_ast_elts, get_ast_ref_elts, make_sim_asteroids
from asteroid_element_synch import process_dates, calc_ref_elt

In [13]:
# Get orbital elements of first 10 asteroids
n0=0
n1=10000
epoch=59000
elts = get_ast_elts(n0=n0, n1=n1, epoch=epoch)

In [14]:
elts

,TimeID,AsteroidID,mjd,a,e,inc,Omega,omega,f,M
0,84960000,1,59000.0,2.767657,0.077557,0.184806,1.401272,1.286860,-3.401546,2.839411
1,84960000,2,59000.0,2.773841,0.229972,0.607949,3.019851,-0.869132,2.742191,2.530303
2,84960000,3,59000.0,2.668285,0.256936,0.226736,2.964468,-1.953614,2.535135,2.189260
3,84960000,4,59000.0,2.362014,0.088516,0.124650,1.811810,2.633265,-2.783176,-2.716995
4,84960000,5,59000.0,2.574037,0.190913,0.093679,2.470881,-0.023590,0.461775,0.311477
...,...,...,...,...,...,...,...,...,...,...
9988,84960000,9995,59000.0,2.390249,0.160610,0.040347,0.363924,-2.826248,3.260392,-2.979609
9989,84960000,9996,59000.0,2.796605,0.235174,0.133652,-2.629937,2.898821,-2.120904,-1.682728
9990,84960000,9997,59000.0,2.545674,0.113059,0.042929,-0.427796,1.579063,-3.649961,2.514484
9991,84960000,9998,59000.0,2.160961,0.093852,0.068282,-0.262023,0.578132,-0.465334,-0.386152
9992,84960000,9999,59000.0,2.839917,0.071351,0.055830,1.332848,-2.196556,-0.777759,-0.681360

In [15]:
# Build simulation with these
# sim = make_sim_asteroids(epoch=epoch, n0=n0, n1=n1)

In [16]:
# Unpack elements
a = elts.a.values
e = elts.e.values
inc = elts.inc.values
Omega = elts.Omega.values
omega = elts.omega.values
f = elts.f.values
M = elts.M.values