In [1]:
# Core
import numpy as np
import pandas as pd
import dask.dataframe as dd
import dask.multiprocessing

import glob

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from horizons import make_sim_horizons
from rebound_sim import make_sim_planets
from rebound_integrate import integrate_numpy, integrate_df
from planets_test import get_integration_diff
from db_config import db_engine
from db_utils import sp2df, get_columns, df2csv, csv2db_stage, csv2db, csvs2db

In [3]:
# Typing
from typing import Tuple

In [4]:
dir_csv: str = '../data/df2db'
schema = 'KS'
table = 'StateVectors_Planets'

In [5]:
search_path = os.path.join(dir_csv, table, f'{table}-chunk*.csv')
fnames_csv = glob.glob(search_path)
fnames_csv.sort()

In [6]:
# fnames_csv

In [7]:
fname = '/home/michael/Harvard/kepler-sieve/data/df2db/StateVectors_Planets/StateVectors_Planets-chunk-00.csv'
df = pd.read_csv(fname)
df

,TimeID,BodyID,MJD,qx,qy,qz,vx,vy,vz
0,69120000,10,48000.000000,-0.000087,0.000283,-0.000038,0.000005,0.000001,-8.899307e-08
1,69120000,1,48000.000000,-0.368024,0.060541,0.038664,-0.010381,-0.026552,-1.215214e-03
2,69120000,2,48000.000000,-0.078729,-0.722042,-0.005349,0.019977,-0.002266,-1.183946e-03
3,69120000,399,48000.000000,-0.880033,-0.483797,-0.000050,0.008013,-0.015142,-1.027002e-06
4,69120000,301,48000.000000,-0.878467,-0.485862,-0.000074,0.008452,-0.014761,5.031420e-05
...,...,...,...,...,...,...,...,...,...
524283,69358310,1,48165.493056,-0.146997,0.282619,0.036548,-0.030576,-0.011980,1.828841e-03
524284,69358310,2,48165.493056,-0.703864,0.139536,0.042519,-0.004015,-0.019932,-3.993473e-05
524285,69358310,399,48165.493056,0.991662,0.142976,-0.000048,-0.002725,0.016961,-2.924596e-07
524286,69358310,301,48165.493056,0.993849,0.141672,0.000043,-0.002455,0.017491,4.658083e-05
524287,69358310,4,48165.493056,1.200931,0.792782,-0.012982,-0.007166,0.012874,4.458976e-04

In [8]:
def dfvec2elt(df_vec: pd.DataFrame, sim: rebound.Simulation):
    """
    Generate DataFrame of orbital elements from an input DataFrame of state vectors.
    INPUTS:
        df_vec: DataFrame of state vectors
        sim:    Rebound simulation of the all the objects under consideration
    OUTPUTS:
        df_elt: DataFrame of orbital elements.  Outputs include a, e, inc, Omega, omega, f, M
    """
    pass

In [10]:
# # Shape: M time steps, N bodies
# M: int = 0
# N: int = 0

# # Arrays for a, e, inc, Omega, omega, f, M
# shape_elt: Tuple[int] = (M, N)
# orb_a: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_e: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_inc: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_Omega: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_omega: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_f: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)
# orb_M: np.array = np.full(shape_elt, fill_value=np.nan, dtype=np.float64)

# # Wrap these into a named tuple
# elts: OrbitalElement = \
#     OrbitalElement(a=orb_a, e=orb_e, inc=orb_inc,
#                     Omega=orb_Omega, omega=orb_omega, f=orb_f, M=orb_M)

In [11]:
# Make sim with planets
epoch = 59000
sim_epoch = make_sim_planets(epoch=epoch)

Added bodies to simulation.

In [12]:
# Date range to process
mjd0: int = epoch-100
mjd1: int = epoch+100

In [13]:
# Shared time_step and save_step
steps_per_day: int = 1

# Flags for building simulation archive
save_elements: bool = True
progbar: bool = True

In [14]:
# Save simulation as Numpy arrays
# body_ids, body_names, epochs, q, v, elts = integrate_numpy(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, time_step=time_step, save_elements=save_elements, progbar=True)

In [15]:
df = integrate_df(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, steps_per_day=steps_per_day, save_elements=save_elements, progbar=True)

  0%|          | 0/101 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [16]:
df[0:10]

,TimeID,BodyID,MJD,qx,qy,qz,vx,vy,vz,a,e,inc,Omega,omega,f,M
0,84816000,10,58900.0,-0.004221,0.007326,0.000035,-0.000008,-0.000002,2.283442e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84816000,1,58900.0,-0.217196,0.256225,0.039910,-0.027079,-0.017177,1.080142e-03,0.387097,0.205652,0.122239,0.843105,0.509335,0.927129,0.627633
2,84816000,2,58900.0,0.047415,0.725334,0.006907,-0.020251,0.001344,1.186871e-03,0.723328,0.006747,0.059246,1.337354,0.957278,-0.795348,-0.785747
3,84816000,399,58900.0,-0.873491,0.478566,0.000017,-0.008494,-0.015196,1.518513e-06,1.000768,0.017385,0.000077,2.886969,-1.065969,0.823827,0.798538
4,84816000,301,58900.0,-0.872089,0.476317,-0.000083,-0.007999,-0.014910,-4.543185e-05,0.002577,0.046343,0.089001,1.691851,1.293892,-3.997685,2.213882
5,84816000,4,58900.0,-0.784999,-1.305526,-0.008318,0.012547,-0.005955,-4.325253e-04,1.523691,0.093487,0.032254,0.863961,-1.280166,-1.691031,-1.504104
6,84816000,5,58900.0,0.898803,-5.122727,0.001138,0.007340,0.001664,-1.711022e-04,5.203469,0.048696,0.022752,1.754349,-1.509899,4.642178,-1.543644
7,84816000,6,58900.0,4.039565,-9.170298,-0.001362,0.004796,0.002233,-2.297898e-04,9.580375,0.051093,0.043393,1.982610,-0.388304,-2.750078,-2.709661
8,84816000,7,58900.0,16.104182,11.540741,-0.165769,-0.002320,0.003014,4.124782e-05,19.178276,0.046451,0.013448,1.293048,1.723148,-2.394865,-2.330122
9,84816000,8,58900.0,29.271555,-6.202268,-0.546868,0.000630,0.003090,-7.813982e-05,30.199682,0.010196,0.030895,2.299890,-1.986125,-0.522547,-0.512437

In [17]:
mjd0 = 55350
mjd1 = 62650
body_collection = 'Planets'
# dfd = get_integration_diff(body_collection='Planets', mjd0=mjd0, mjd1=mjd1, by_date=False)

In [20]:
dfd

        TimeID      MJD    dq_rel    dv_rel
0     79704000  55350.0  0.000005  0.000006
1     79705440  55351.0  0.000005  0.000006
2     79706880  55352.0  0.000005  0.000006
3     79708320  55353.0  0.000005  0.000007
4     79709760  55354.0  0.000005  0.000007
...        ...      ...       ...       ...
7296  90210240  62646.0  0.000004  0.000005
7297  90211680  62647.0  0.000004  0.000006
7298  90213120  62648.0  0.000005  0.000006
7299  90214560  62649.0  0.000005  0.000006
7300  90216000  62650.0  0.000005  0.000006

[7301 rows x 4 columns]

In [18]:
    # Get DataFrames of errors by date and for each body
    df = get_integration_diff(body_collection=body_collection, mjd0=mjd0, mjd1=mjd1, by_date=False)
    dfd = get_integration_diff(body_collection=body_collection, mjd0=mjd0, mjd1=mjd1, by_date=True)
    
    # Error on all 11 bodies (Sun, 9 Planets, Moon)
    mean_dq = np.mean(dfd['dq'])
    mean_dq_rel = np.mean(dfd['dq_rel'])

    # Error on 11 bodies excluding Mercury
    mask = (dfd.BodyID != 1)
    dfd_xm = dfd_p[mask].groupby(dfd.TimeID).mean()
    mean_dq_xm = np.mean(dfd_xm['dq'])
    mean_dq_rel_xm = np.mean(dfd_xm['dq_rel'])

    # Report results
    print()
    print_stars()
    print(f'Mean Error - Integration with {body_collection}:')
    print('                  All Bodies : Ex Mercury')
    print(f'Absolute Error: {mean_dq:5.3e} : {mean_dq_xm:5.3e}')
    print(f'Relative Error: {mean_dq_rel:5.3e} : {mean_dq_rel_xm:5.3e}')

KeyError: 'dq'

In [14]:
dfd[0:12]

,TimeID,BodyID,MJD,dq,dv,dq_rel,dv_rel
0,79704000,1,55350.0,1.266140e-05,8.906567e-07,3.323542e-05,3.221320e-05
1,79704000,2,55350.0,6.010629e-06,1.690565e-07,8.309523e-06,8.358312e-06
2,79704000,4,55350.0,2.133959e-06,1.914419e-08,1.404944e-06,1.373448e-06
3,79704000,5,55350.0,2.155405e-07,3.161788e-10,4.152260e-08,4.195980e-08
4,79704000,6,55350.0,2.329974e-08,1.299742e-11,2.450806e-09,2.331962e-09
5,79704000,7,55350.0,2.996576e-09,2.104896e-12,1.580465e-10,5.405252e-10
6,79704000,8,55350.0,7.576032e-10,4.911387e-13,2.866826e-11,1.777196e-10
7,79704000,9,55350.0,1.190573e-09,7.777049e-13,4.126128e-11,3.410906e-10
8,79704000,10,55350.0,1.255777e-08,6.574643e-12,2.113440e-06,8.940150e-07
9,79704000,301,55350.0,3.263919e-06,3.440492e-07,3.264163e-06,1.998861e-05
10,79704000,399,55350.0,3.450215e-06,6.061251e-08,3.450478e-06,3.523489e-06
11,79705440,1,55351.0,1.305681e-05,9.215719e-07,3.427336e-05,3.333134e-05

In [20]:
# Filter out entries for Mercury
mask = (dfd.BodyID != 1)
# Take the mean
dfd[mask].groupby(dfd.TimeID).mean()

,TimeID,BodyID,MJD,dq,dv,dq_rel,dv_rel
TimeID,,,,,,,
79704000,79704000.0,75.1,55350.0,0.000002,5.932015e-08,0.000002,0.000003
79705440,79705440.0,75.1,55351.0,0.000002,6.041866e-08,0.000002,0.000003
79706880,79706880.0,75.1,55352.0,0.000002,6.163453e-08,0.000002,0.000004
79708320,79708320.0,75.1,55353.0,0.000002,6.293608e-08,0.000002,0.000004
79709760,79709760.0,75.1,55354.0,0.000002,6.429070e-08,0.000002,0.000004
...,...,...,...,...,...,...,...
90210240,90210240.0,75.1,62646.0,0.000002,5.674746e-08,0.000002,0.000003
90211680,90211680.0,75.1,62647.0,0.000002,5.717010e-08,0.000002,0.000003
90213120,90213120.0,75.1,62648.0,0.000002,5.752214e-08,0.000002,0.000003
90214560,90214560.0,75.1,62649.0,0.000002,5.780423e-08,0.000002,0.000003
90216000,90216000.0,75.1,62650.0,0.000002,5.802102e-08,0.000002,0.000003

In [14]:
# Columns for state vectors and orbital element frames
cols_vec = ['TimeID', 'BodyID', 'MJD', 'qx', 'qy', 'qz', 'vx', 'vy', 'vz']
cols_elt = ['TimeID', 'BodyID', 'MJD', 'a', 'e', 'inc', 'Omega', 'omega', 'f', 'M']

elt_col_map = {
    'Omega':'Omega_node', 
    'omega': 'omega_peri',
}

# DataFrame with the state vectors
df_vec = df[cols_vec]
    
mask = (df.BodyID != 10)
df_elt = df[mask][cols_elt]
df_elt.rename(columns=elt_col_map, inplace=True)

In [15]:
# columns = get_columns(schema='KS', table='StateVectors')
# fname_csv = '~/Harvard/kepler-sieve/data/df2db/Integration_Planets.csv'
# chunksize = 1000
# fnames_csv = df2csv(df=df, fname_csv=fname_csv, columns=columns, chunksize=chunksize)

In [16]:
# pd.read_csv(fnames_csv[0])

In [17]:
# i = 0
# with db_engine.connect() as conn:    
#     csv2db_stage(schema='KS', table='Integration_Planets', columns=columns, fname_csv=fnames_csv[i], i=0, conn=conn)

In [18]:
# with db_engine.connect() as conn:    
#     csv2db(schema='KS', table='Integration_Planets', columns=columns, i=0, conn=conn)

In [19]:
# csvs2db(schema='KS', table='Integration_Planets', fnames_csv=fnames_csv, columns=columns, progbar=True)

In [20]:
columns_elt = get_columns(schema='KS', table='OrbitalElements')
fname_csv = '~/Harvard/kepler-sieve/data/df2db/OrbitalElements.csv'
chunksize = 1000

In [21]:
fnames_csv = df2csv(df=df_elt, fname_csv=fname_csv, columns=columns_elt, chunksize=chunksize)
fnames_csv

['/home/michael/Harvard/kepler-sieve/data/df2db/OrbitalElements-chunk-0.csv',
 '/home/michael/Harvard/kepler-sieve/data/df2db/OrbitalElements-chunk-1.csv',
 '/home/michael/Harvard/kepler-sieve/data/df2db/OrbitalElements-chunk-2.csv']

In [22]:
csvs2db(schema='KS', table='OrbitalElements', fnames_csv=fnames_csv, columns=columns_elt, progbar=True)

  0%|          | 0/3 [00:00<?, ?it/s]