In [1]:
# Core
import numpy as np
import pandas as pd

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from horizons import make_sim_horizons
from rebound_utils import make_sim_planets, integrate_numpy, integrate_df

In [3]:
# Typing
from typing import Tuple

In [4]:
# Make sim with planets
epoch = 59000
sim_epoch = make_sim_planets(epoch=epoch)

Saved simulation snapshot to ../data/rebound/sim/Planets_59000.bin and body names and IDs to ../data/rebound/sim/Planets_bodies.npz.

In [5]:
# Date range to process
mjd0: int = epoch-100
mjd1: int = epoch+100

In [6]:
# Shared time_step and save_step
time_step: int = 1

# Flags for building simulation archive
save_elements: bool = False
progbar: bool = True

In [7]:
# Save simulation as Numpy arrays
body_id, body_name, epoch, q, v = integrate_numpy(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, time_step=time_step, save_elements=save_elements, progbar=True)

  0%|          | 0/101 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [18]:
df = integrate_df(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, time_step=time_step, save_elements=save_elements, progbar=True)

  0%|          | 0/101 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [19]:
df

,TimeID,BodyID,BodyName,MJD,qx,qy,qz,vx,vy,vz
0,84816000,10,Sun,58900.0,-0.004221,0.007326,0.000035,-0.000008,-0.000002,2.283442e-07
1,84816000,1,Mercury Barycenter,58900.0,-0.217196,0.256225,0.039910,-0.027079,-0.017177,1.080142e-03
2,84816000,2,Venus Barycenter,58900.0,0.047415,0.725334,0.006907,-0.020251,0.001344,1.186871e-03
3,84816000,399,Earth,58900.0,-0.873491,0.478566,0.000017,-0.008494,-0.015196,1.518513e-06
4,84816000,301,Moon,58900.0,-0.872089,0.476317,-0.000083,-0.007999,-0.014910,-4.543185e-05
...,...,...,...,...,...,...,...,...,...,...
2206,85104000,5,Jupiter Barycenter,59100.0,2.307919,-4.578456,-0.032642,0.006645,0.003755,-1.642408e-04
2207,85104000,6,Saturn Barycenter,59100.0,4.973013,-8.670475,-0.047221,0.004529,0.002761,-2.283492e-04
2208,85104000,7,Uranus Barycenter,59100.0,15.628033,12.134521,-0.157395,-0.002441,0.002923,4.248123e-05
2209,85104000,8,Neptune Barycenter,59100.0,29.391047,-5.583021,-0.562374,0.000565,0.003103,-7.691335e-05
2210,85104000,9,Pluto Barycenter,59100.0,13.715764,-31.221815,-0.626491,0.002947,0.000591,-9.156320e-04