In [1]:
# Core
import numpy as np
import pandas as pd

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from horizons import make_sim_horizons
from rebound_utils import make_sim_planets, integrate_numpy, integrate_df
from planets_test import get_integration_diff
from db_utils import sp2df

In [3]:
# Typing
from typing import Tuple

In [4]:
# Make sim with planets
epoch = 59000
sim_epoch = make_sim_planets(epoch=epoch)

In [5]:
# Date range to process
mjd0: int = epoch-100
mjd1: int = epoch+100

In [6]:
# Shared time_step and save_step
time_step: int = 1

# Flags for building simulation archive
save_elements: bool = True
progbar: bool = True

In [7]:
# Save simulation as Numpy arrays
body_id, body_name, epoch, q, v, elts = integrate_numpy(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, time_step=time_step, save_elements=save_elements, progbar=True)

  0%|          | 0/101 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [8]:
df = integrate_df(sim_epoch=sim_epoch, mjd0=mjd0, mjd1=mjd1, time_step=time_step, save_elements=save_elements, progbar=True)

  0%|          | 0/101 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

In [9]:
df[0:10]

,TimeID,BodyID,BodyName,MJD,qx,qy,qz,vx,vy,vz,a,e,inc,Omega,omega,f,M
0,84816000,10,Sun,58900.0,-0.004221,0.007326,0.000035,-0.000008,-0.000002,2.283442e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84816000,1,Mercury Barycenter,58900.0,-0.217196,0.256225,0.039910,-0.027079,-0.017177,1.080142e-03,0.387097,0.205652,0.122239,0.843105,0.509335,0.927129,0.627633
2,84816000,2,Venus Barycenter,58900.0,0.047415,0.725334,0.006907,-0.020251,0.001344,1.186871e-03,0.723328,0.006747,0.059246,1.337354,0.957278,-0.795348,-0.785747
3,84816000,399,Earth,58900.0,-0.873491,0.478566,0.000017,-0.008494,-0.015196,1.518513e-06,1.000768,0.017385,0.000077,2.886969,-1.065969,0.823827,0.798538
4,84816000,301,Moon,58900.0,-0.872089,0.476317,-0.000083,-0.007999,-0.014910,-4.543185e-05,0.942827,0.046425,0.002703,-0.539749,-0.025032,-3.072250,-3.065586
5,84816000,4,Mars Barycenter,58900.0,-0.784999,-1.305526,-0.008318,0.012547,-0.005955,-4.325253e-04,1.523691,0.093487,0.032254,0.863961,-1.280166,-1.691031,-1.504104
6,84816000,5,Jupiter Barycenter,58900.0,0.898803,-5.122727,0.001138,0.007340,0.001664,-1.711022e-04,5.203469,0.048696,0.022752,1.754349,-1.509899,4.642178,-1.543644
7,84816000,6,Saturn Barycenter,58900.0,4.039565,-9.170298,-0.001362,0.004796,0.002233,-2.297898e-04,9.580375,0.051093,0.043393,1.982610,-0.388304,-2.750078,-2.709661
8,84816000,7,Uranus Barycenter,58900.0,16.104182,11.540741,-0.165769,-0.002320,0.003014,4.124782e-05,19.178276,0.046451,0.013448,1.293048,1.723148,-2.394865,-2.330122
9,84816000,8,Neptune Barycenter,58900.0,29.271555,-6.202268,-0.546868,0.000630,0.003090,-7.813982e-05,30.199682,0.010196,0.030895,2.299890,-1.986125,-0.522547,-0.512437

In [10]:
sim = sim_epoch

In [11]:
sun = sim.particles['Sun']
earth = sim.particles['Earth']
# emb = sim.particles['Earth-Moon Barycenter']

orb_earth = sim.particles['Earth'].calculate_orbit(primary=sun)
orb_moon = sim.particles['Moon'].calculate_orbit(primary=sun)
# orb_emb = sim.particles['Earth-Moon Barycenter'].calculate_orbit(primary=sun)
orb_jup = sim.particles['Jupiter Barycenter'].calculate_orbit(primary=sun)

In [12]:
print('Earth:')
print(orb_earth)

print('\nMoon:')
print(orb_moon)

print('\nJupiter:')
print(orb_jup)

Earth:
<rebound.Orbit instance, a=0.9997891554084537 e=0.016685133554755066 inc=4.273872541840796e-05 Omega=3.021904759432298 omega=-1.2514627746224694 f=2.5883083257077732>

Moon:
<rebound.Orbit instance, a=1.0188833113525768 e=0.041496371409711685 inc=0.00043801183180148135 Omega=-2.568999677287023 omega=-0.8634168046564179 f=1.5056025805862592>

Jupiter:
<rebound.Orbit instance, a=5.203845531954163 e=0.048665016635874206 inc=0.022752117229575375 Omega=1.754348802499503 omega=-1.5114375946087053 f=-1.493920888437204>

In [13]:
earth.m

3.003489614531686e-06

In [14]:
mjd0 = 55350
mjd1 = 62650
df = get_integration_diff(BodyCollectionCD='P', mjd0=mjd0, mjd1=mjd1, by_date=False)

In [15]:
df[0:12]

Empty DataFrame
Columns: [TimeID, BodyID, MJD, dq, dv, dq_rel, dv_rel]
Index: []

In [19]:
sp2df(sp_name='KS.MakeTable_IntegrationDiff', params=dict())

In [16]:
import sqlalchemy
from db_utils import db_engine

sp_name = 'KS.MakeTable_IntegrationDiff'
params = dict()

# Combine the arguments into a string formatted as expected by SQL alchemy
arg_str = ', '.join(f':{k}' for k in params.keys())
# Assemble the SQL string
sql_str = f'CALL {sp_name}({arg_str});'
# Bind the parameters into a SQL ALchemy text object
sql_stmt = sqlalchemy.text(sql_str).bindparams(**params)

In [17]:
print(sql_stmt)

CALL KS.MakeTable_IntegrationDiff();

In [18]:
with db_engine.connect() as conn:
    conn.execute(sql_stmt)

In [26]:
# Execute the bound SQL and return as a DataFrame
with db_engine.connect() as conn:
    try:
        df = pd.read_sql(sql_stmt, conn)
    # OK to run an SP with no results; just return None instead
    except sqlalchemy.exc.ResourceClosedError:
        df = None

In [31]:
print('CALL KS.MakeTable_IntegrationDiff();')

CALL KS.MakeTable_IntegrationDiff();