In [1]:
# Core
import numpy as np
import pandas as pd

# DB
import sqlalchemy
from sqlalchemy import create_engine

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from ztf_data import db_engine, load_ztf_classes, load_ztf_objects, load_ztf_detections, ztf_detection_add_dir
# from db_config import db_engine
from db_utils import sp2df

In [3]:
df_cls = load_ztf_classes()

In [4]:
df_cls

    ObjectClassID ObjectClassName
0               0           Other
1               1            Ceph
2               2            DSCT
3               3              EB
4               4             LPV
5               5             RRL
6               6             SNe
7               7           AGN-I
8               8          Blazar
9               9         CV/Nova
10             10            SNIa
11             11           SNIbc
12             12            SNII
13             13           SNIIn
14             14            SLSN
15             15          EBSD/D
16             16             EBC
17             17  Periodic-Other
18             18             AGN
19             19              SN
20             20   Variable Star
21             21        Asteroid
22             22           Bogus
23             23          RS-CVn
24             24           QSO-I

In [5]:
df_obj = load_ztf_objects(0, 10, 'ZTF17')

In [6]:
df_obj

,ObjectCD,ObservationCount,mjd0,mjd1,MeanRA,MeanDEC,MeanMag_g,MeanMag_r,MeanMagPSF_g,MeanMagPSF_r,AsteroidProb
0,ZTF17aaaaasi,347,58280.428194,59210.110914,324.488877,45.109846,18.585226,15.465914,18.671388,15.683508,0.985637
1,ZTF17aaaaclo,155,58443.265602,59290.178947,70.853230,7.201669,16.718228,16.591636,16.730911,16.600370,0.996855
2,ZTF17aaaaffg,35,58305.405590,59119.171389,319.054262,48.314584,NaN,15.706846,NaN,15.751171,0.973989
3,ZTF17aaaafxg,62,58350.489236,59292.206030,86.814523,30.605866,19.890961,18.200003,19.920737,18.181950,0.983012
4,ZTF17aaaaguj,166,58366.442083,59275.261806,69.468774,38.992608,16.895834,15.595335,16.906119,15.596677,1.000000
5,ZTF17aaaarde,172,58382.497002,59292.202731,59.516684,54.346128,18.672375,16.444349,18.680382,16.433505,0.977670
6,ZTF17aaaarvk,19,58426.412153,59194.261574,57.009040,51.659964,NaN,16.206960,NaN,16.183672,0.995633
7,ZTF17aaaasty,10,58347.470475,59218.187963,58.068906,57.550521,16.609998,16.039139,16.604758,16.056506,0.984839
8,ZTF17aaaatqi,4,58694.465718,59110.455428,65.549200,16.172235,16.956010,15.020318,16.792597,15.187533,0.963381
9,ZTF17aaabaoc,42,58357.445880,59280.163287,81.885257,35.044659,18.930029,17.287681,18.990055,17.289737,1.000000

In [7]:
df_det = load_ztf_detections(0, 10, 0)

In [8]:
df_det

,DetectionID,ObjectCD,mjd,RA,DEC,MagPSF,MagApp,MagNR,Sigma_RA,Sigma_DEC
0,516167660115015008,ZTF18aabpmzg,58270.167662,196.398414,9.591569,15.727263,15.762400,14.705000,0.09,0.09
1,516167660915010000,ZTF17aabwnym,58270.167662,192.426449,9.354512,17.722343,17.770201,15.422999,0.09,0.09
2,516167661515010000,ZTF17aacnkbw,58270.167662,191.341359,8.758481,17.918642,17.881800,15.516000,0.09,0.09
3,516167661815010000,ZTF18aabvlxk,58270.167662,196.021287,10.491912,16.975546,17.025600,15.289000,0.09,0.09
4,516167662515010000,ZTF17aaaplxn,58270.167662,192.689685,11.554165,18.307011,18.343300,17.122999,0.09,0.09
5,516167662515015016,ZTF17aacnjdr,58270.167662,192.888466,10.942523,17.364489,17.377399,15.302000,0.09,0.09
6,516167662915015011,ZTF17aabucib,58270.167662,190.635739,11.305474,18.165871,18.121700,15.813000,0.09,0.09
7,516167663215010000,ZTF18aabppoa,58270.167662,197.184700,13.402262,14.257106,14.298100,13.120000,0.09,0.09
8,516167663815015004,ZTF18aabpzey,58270.167662,194.830048,12.496480,17.297316,17.367701,13.749000,0.09,0.09
9,516167663915010000,ZTF17aacnjgv,58270.167662,195.008807,12.045862,16.681993,16.707001,15.143000,0.09,0.09

In [9]:
df_det.dtypes

DetectionID      int64
ObjectCD        object
mjd            float64
RA             float64
DEC            float64
MagPSF         float64
MagApp         float64
MagNR          float64
Sigma_RA       float64
Sigma_DEC      float64
dtype: object