In [1]:
# Core
import numpy as np
import pandas as pd

# DB
import sqlalchemy
from sqlalchemy import create_engine

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from ztf_data import db_engine, load_ztf_classes, load_ztf_objects, load_ztf_detections, ztf_detection_add_dir
# from db_config import db_engine
# from db_utils import sp2df

In [3]:
df_cls = load_ztf_classes()

In [4]:
# df_cls

In [5]:
df_obj = load_ztf_objects(0, 10)

In [6]:
df_obj

,ObjectCD,ObservationCount,mjd0,mjd1,MeanRA,MeanDEC,MeanMag_g,MeanMag_r,MeanMagPSF_g,MeanMagPSF_r,AsteroidProb
0,b'ZTF17aaaaasi',347,58280.428194,59210.110914,324.488877,45.109846,18.585226,15.465914,18.671388,15.683508,0.985637
1,b'ZTF17aaaaclo',155,58443.265602,59290.178947,70.853230,7.201669,16.718228,16.591636,16.730911,16.600370,0.996855
2,b'ZTF17aaaaffg',35,58305.405590,59119.171389,319.054262,48.314584,NaN,15.706846,NaN,15.751171,0.973989
3,b'ZTF17aaaafxg',62,58350.489236,59292.206030,86.814523,30.605866,19.890961,18.200003,19.920737,18.181950,0.983012
4,b'ZTF17aaaaguj',166,58366.442083,59275.261806,69.468774,38.992608,16.895834,15.595335,16.906119,15.596677,1.000000
5,b'ZTF17aaaarde',172,58382.497002,59292.202731,59.516684,54.346128,18.672375,16.444349,18.680382,16.433505,0.977670
6,b'ZTF17aaaarvk',19,58426.412153,59194.261574,57.009040,51.659964,NaN,16.206960,NaN,16.183672,0.995633
7,b'ZTF17aaaasty',10,58347.470475,59218.187963,58.068906,57.550521,16.609998,16.039139,16.604758,16.056506,0.984839
8,b'ZTF17aaaatqi',4,58694.465718,59110.455428,65.549200,16.172235,16.956010,15.020318,16.792597,15.187533,0.963381
9,b'ZTF17aaabaoc',42,58357.445880,59280.163287,81.885257,35.044659,18.930029,17.287681,18.990055,17.289737,1.000000

In [7]:
df_det = load_ztf_detections(0, 10)

In [8]:
df_det

,ObjectCD,CandidateID,mjd,RA,DEC,MagPSF,MagApp,MagNR,Sigma_RA,Sigma_DEC,AsteroidProb
0,b'ZTF18adbdodf',1457228490615015059,59211.228495,76.092334,-13.177226,15.729690,15.630600,13.363000,0.09,0.09,0.533123
1,b'ZTF19aaeaenk',1457228490015015080,59211.228495,79.314825,-12.558813,14.679854,14.875300,12.433000,0.09,0.09,0.942302
2,b'ZTF19aaeaenk',1442294391315015008,59196.294398,79.314520,-12.558744,15.751100,15.905200,12.277000,0.09,0.09,0.942302
3,b'ZTF19abxlvtk',1457228490215015082,59211.228495,78.132314,-13.282117,15.175592,15.220200,12.632999,0.09,0.09,0.981137
4,b'ZTF20acubhxk',1457228490615015065,59211.228495,76.438589,-13.304719,15.885690,16.129999,13.796000,0.09,0.09,0.535354
5,b'ZTF20adahblx',1457228491815015029,59211.228495,78.402191,-11.033087,15.333986,15.201600,12.617000,0.09,0.09,0.481130
6,b'ZTF18achtbsa',1457228490715015057,59211.228495,77.478173,-12.856938,17.131235,17.323700,13.962000,0.09,0.09,0.559435
7,b'ZTF19aadkdtl',1457228493515015103,59211.228495,79.321827,-9.557205,15.094650,15.059900,12.924000,0.09,0.09,0.990351
8,b'ZTF19aadkdtl',1444339494615015004,59198.339491,79.321482,-9.557297,17.247900,17.927099,12.927000,0.09,0.09,0.990351
9,b'ZTF19aadkdtn',1457228493515015098,59211.228495,78.996498,-9.658824,15.467650,15.290600,13.175000,0.09,0.09,0.538162

In [9]:
df_det.dtypes

ObjectCD           |S12
CandidateID       int64
mjd             float64
RA              float64
DEC             float64
MagPSF          float64
MagApp          float64
MagNR           float64
Sigma_RA        float64
Sigma_DEC       float64
AsteroidProb    float64
dtype: object