In [1]:
# Core
import numpy as np
import pandas as pd

# DB
import sqlalchemy
from sqlalchemy import create_engine

# Astronomy
import rebound

In [2]:
# Local imports
import kepler_sieve
from ztf_data import db_engine, load_ztf_classes, load_ztf_objects
# from db_config import db_engine
# from db_utils import sp2df

In [3]:
df_cls = load_ztf_classes()
df_cls

    ClassID          ClassName
0         0           b'Other'
1         1            b'Ceph'
2         2            b'DSCT'
3         3              b'EB'
4         4             b'LPV'
5         5             b'RRL'
6         6             b'SNe'
7         7           b'AGN-I'
8         8          b'Blazar'
9         9         b'CV/Nova'
10       10            b'SNIa'
11       11           b'SNIbc'
12       12            b'SNII'
13       13           b'SNIIn'
14       14            b'SLSN'
15       15          b'EBSD/D'
16       16             b'EBC'
17       17  b'Periodic-Other'
18       18             b'AGN'
19       19              b'SN'
20       20   b'Variable Star'
21       21        b'Asteroid'
22       22           b'Bogus'
23       23          b'RS-CVn'
24       24           b'QSO-I'

In [4]:
df_cls.dtypes

ClassID      int64
ClassName     |S14
dtype: object

In [5]:
df_cls.loc[0].ClassName

b'Other'

In [6]:
df_obj = load_ztf_objects(0, 10)
df_obj

,ObjectCD,ObservationCount,mjd0,mjd1,MeanRA,MeanDEC,MeanMag_g,MeanMag_r,MeanMagPSF_g,MeanMagPSF_r,AsteroidProb
0,b'ZTF17aaaaasi',347,58280.428194,59210.110914,324.488877,45.109846,18.585226,15.465914,18.671388,15.683508,0.985637
1,b'ZTF17aaaaclo',155,58443.265602,59290.178947,70.853230,7.201669,16.718228,16.591636,16.730911,16.600370,0.996855
2,b'ZTF17aaaaffg',35,58305.405590,59119.171389,319.054262,48.314584,NaN,15.706846,NaN,15.751171,0.973989
3,b'ZTF17aaaafxg',62,58350.489236,59292.206030,86.814523,30.605866,19.890961,18.200003,19.920737,18.181950,0.983012
4,b'ZTF17aaaaguj',166,58366.442083,59275.261806,69.468774,38.992608,16.895834,15.595335,16.906119,15.596677,1.000000
5,b'ZTF17aaaarde',172,58382.497002,59292.202731,59.516684,54.346128,18.672375,16.444349,18.680382,16.433505,0.977670
6,b'ZTF17aaaarvk',19,58426.412153,59194.261574,57.009040,51.659964,NaN,16.206960,NaN,16.183672,0.995633
7,b'ZTF17aaaasty',10,58347.470475,59218.187963,58.068906,57.550521,16.609998,16.039139,16.604758,16.056506,0.984839
8,b'ZTF17aaaatqi',4,58694.465718,59110.455428,65.549200,16.172235,16.956010,15.020318,16.792597,15.187533,0.963381
9,b'ZTF17aaabaoc',42,58357.445880,59280.163287,81.885257,35.044659,18.930029,17.287681,18.990055,17.289737,1.000000

In [7]:
df_obj.dtypes

ObjectCD               |S12
ObservationCount      int64
mjd0                float64
mjd1                float64
MeanRA              float64
MeanDEC             float64
MeanMag_g           float64
MeanMag_r           float64
MeanMagPSF_g        float64
MeanMagPSF_r        float64
AsteroidProb        float64
dtype: object

In [8]:
load_ztf_objects(10, 10)

,ObjectCD,ObservationCount,mjd0,mjd1,MeanRA,MeanDEC,MeanMag_g,MeanMag_r,MeanMagPSF_g,MeanMagPSF_r,AsteroidProb
0,b'ZTF17aaabdov',303,58345.493646,59278.156447,82.594384,36.485451,17.985296,16.818683,18.006860,16.824886,0.970335
1,b'ZTF17aaabfgy',249,58385.497187,59278.153125,93.428447,9.175317,16.658608,16.003858,16.655999,16.018764,0.984581
2,b'ZTF17aaabfne',16,58455.322859,59276.151586,80.091843,17.324737,16.479459,16.331167,16.477189,16.327333,1.000000
3,b'ZTF17aaabmkt',90,58437.432940,59251.191030,85.323347,14.774963,18.894710,18.030440,18.898542,18.062447,1.000000
4,b'ZTF17aaabnpx',36,58487.261794,59193.263796,84.532726,16.072975,18.595087,17.419242,18.571584,17.438825,0.990201
5,b'ZTF17aaabtdn',72,58281.433924,59223.118935,320.506231,50.874604,19.200991,17.014039,19.223782,17.016842,0.953554
6,b'ZTF17aaabvov',33,58373.494965,59278.156447,87.536587,35.064753,18.071466,17.081852,18.067973,17.063035,0.994096
7,b'ZTF17aaabvze',59,58371.506944,59275.249178,88.972336,36.056521,17.587325,16.699766,17.629865,16.697760,0.990497
8,b'ZTF17aaabwth',181,58318.421840,59267.199433,31.961055,53.358850,16.404493,15.855650,16.397319,15.869925,0.974159
9,b'ZTF17aaabxwz',118,58437.430208,59268.236146,77.629430,21.481125,17.696143,16.930697,17.643548,16.950860,0.986144