In [1]:
import numpy as np
import pandas as pd
from ztf_data import make_ztf_easy_batch, load_ztf_easy_batch

In [ ]:
# ztf_batch, elts = make_ztf_easy_batch()

In [2]:
ztf_batch, elts = load_ztf_easy_batch(thresh_deg=1.0)

HBox(children=(FloatProgress(value=0.0, max=64.0), HTML(value='')))

In [ ]:
ztf_batch

In [ ]:
elts

In [ ]:
batch_size = 64
thresh_deg = 1.0

In [ ]:
# Name of the file
thresh_sec = np.round(thresh_deg*3600.0).astype(np.int32)
file_path = f'../data/ztf/ztf-easy-batch-n={batch_size}-thresh={thresh_sec}sec.h5'

In [ ]:
ztf_batch.to_hdf('../data/ztf/test.h5', key='ztf_batch', mode='w')

In [ ]:
pd.DataFrame(elts).to_hdf(file_path, key='elts', mode='a')

In [ ]:
pd.read_hdf('../data/ztf/test.h5', key='elts')

In [ ]:
elts.values.transpose()

In [3]:
elts

,ast_num,a,e,inc,Omega,omega,f,epoch
0,733,3.398871,0.058840,0.354075,5.951576,3.315651,3.703184,58600.0
1,1476,2.280890,0.189703,0.110415,5.768549,6.107239,0.309986,58600.0
2,1803,2.349173,0.247823,0.376183,5.886310,4.431771,2.468021,58600.0
3,2015,2.335363,0.103840,0.207837,6.012107,4.788967,1.897608,58600.0
4,2294,2.581424,0.116455,0.109954,5.075755,0.753231,0.373019,58600.0
...,...,...,...,...,...,...,...,...
59,203722,3.171154,0.291647,0.426091,5.309571,1.789398,-1.162711,58600.0
60,253246,2.677164,0.227275,0.446592,5.260714,1.455787,-0.777289,58600.0
61,306781,2.534977,0.209075,0.228417,5.551083,0.846400,-0.451545,58600.0
62,313521,2.637372,0.254435,0.524255,4.487565,2.113770,-1.015696,58600.0
63,324582,2.677317,0.443025,0.489882,5.672742,1.061045,-1.459784,58600.0

In [4]:
ast_num = elts.pop('ast_num')

In [6]:
epoch = elts.pop('epoch')[0]

In [7]:
elts

           a         e       inc     Omega     omega         f
0   3.398871  0.058840  0.354075  5.951576  3.315651  3.703184
1   2.280890  0.189703  0.110415  5.768549  6.107239  0.309986
2   2.349173  0.247823  0.376183  5.886310  4.431771  2.468021
3   2.335363  0.103840  0.207837  6.012107  4.788967  1.897608
4   2.581424  0.116455  0.109954  5.075755  0.753231  0.373019
..       ...       ...       ...       ...       ...       ...
59  3.171154  0.291647  0.426091  5.309571  1.789398 -1.162711
60  2.677164  0.227275  0.446592  5.260714  1.455787 -0.777289
61  2.534977  0.209075  0.228417  5.551083  0.846400 -0.451545
62  2.637372  0.254435  0.524255  4.487565  2.113770 -1.015696
63  2.677317  0.443025  0.489882  5.672742  1.061045 -1.459784

[64 rows x 6 columns]