In [1]:
import numpy as np
from asteroid_dataframe import load_ast_data, calc_ast_data, spline_ast_vec_df
from asteroid_data import orbital_element_batch
from ztf_data import load_ztf_det_all

In [2]:
n0=1
n1=65

mjd0 = 58270.0
mjd1 = 58906.0

progbar=True

In [3]:
# Load data in this date range
df_ast_load, df_earth_load, df_sun_load = load_ast_data(n0=n0, n1=n1, mjd0=mjd0, mjd1=mjd1, progbar=progbar)

Loading asteroid data from n0=1 to n1=65 in 1 blocks...

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [4]:
df_ast_load

,asteroid_num,mjd,time_key,qx,qy,qz,vx,vy,vz,a,e,inc,Omega,omega,f
0,1,58270.0,1398480,-2.389132,0.797218,0.465399,-0.003559,-0.010556,0.000323,2.767061,0.075539,0.184892,1.401675,1.276641,0.146404
1,1,58271.0,1398504,-2.392670,0.786655,0.465718,-0.003517,-0.010570,0.000314,2.767061,0.075540,0.184892,1.401675,1.276650,0.150749
2,1,58272.0,1398528,-2.396166,0.776078,0.466028,-0.003475,-0.010584,0.000306,2.767062,0.075540,0.184892,1.401675,1.276658,0.155094
3,1,58273.0,1398552,-2.399619,0.765487,0.466330,-0.003432,-0.010597,0.000298,2.767063,0.075540,0.184892,1.401675,1.276667,0.159438
4,1,58274.0,1398576,-2.403030,0.754883,0.466624,-0.003390,-0.010611,0.000290,2.767064,0.075540,0.184892,1.401675,1.276676,0.163781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40699,64,58901.0,1413624,-1.088110,-2.586812,-0.056603,0.008715,-0.004905,0.000084,2.682259,0.125406,0.022859,-0.888322,3.124664,-4.203020
40700,64,58902.0,1413648,-1.079388,-2.591701,-0.056519,0.008729,-0.004871,0.000085,2.682269,0.125405,0.022859,-0.888324,3.124695,-4.199517
40701,64,58903.0,1413672,-1.070652,-2.596554,-0.056433,0.008743,-0.004836,0.000086,2.682279,0.125404,0.022859,-0.888325,3.124726,-4.196016
40702,64,58904.0,1413696,-1.061901,-2.601373,-0.056347,0.008758,-0.004802,0.000087,2.682289,0.125402,0.022859,-0.888326,3.124757,-4.192519
40703,64,58905.0,1413720,-1.053137,-2.606158,-0.056260,0.008772,-0.004767,0.000087,2.682300,0.125401,0.022859,-0.888327,3.124789,-4.189024

In [5]:
# Orbital elements for first 64 asteroids (dict of numpy arrays)
elts = orbital_element_batch(np.arange(1, 65))

In [6]:
# Calculate vectors from these elements on the fly with calc_ast_data
df_ast_calc, df_earth_calc, df_sun_calc = calc_ast_data(elts=elts, mjd0=mjd0, mjd1=mjd1, element_id=None)

In [7]:
df_ast_calc

,element_id,mjd,qx,qy,qz,vx,vy,vz
0,0,58270.0,-2.389132,0.797218,0.465399,-0.003559,-0.010556,0.000323
1,0,58271.0,-2.392670,0.786654,0.465718,-0.003517,-0.010570,0.000314
2,0,58272.0,-2.396166,0.776077,0.466028,-0.003475,-0.010584,0.000306
3,0,58273.0,-2.399619,0.765486,0.466330,-0.003432,-0.010597,0.000298
4,0,58274.0,-2.403030,0.754882,0.466624,-0.003390,-0.010611,0.000290
...,...,...,...,...,...,...,...,...
40699,63,58901.0,-1.088110,-2.586812,-0.056603,0.008715,-0.004905,0.000084
40700,63,58902.0,-1.079388,-2.591701,-0.056519,0.008729,-0.004871,0.000085
40701,63,58903.0,-1.070652,-2.596554,-0.056433,0.008743,-0.004836,0.000086
40702,63,58904.0,-1.061901,-2.601374,-0.056347,0.008758,-0.004802,0.000087
40703,63,58905.0,-1.053136,-2.606158,-0.056260,0.008772,-0.004767,0.000087

In [8]:
# Check agreement
cols_q = ['qx', 'qy', 'qz']
cols_v = ['vx', 'vy', 'vz']

dq_ast = df_ast_calc[cols_q] - df_ast_load[cols_q]
dv_ast = df_ast_calc[cols_v] - df_ast_load[cols_v]

dq_earth = df_earth_calc[cols_q] - df_earth_load[cols_q]
dv_earth = df_earth_calc[cols_v] - df_earth_load[cols_v]

dq_sun = df_sun_calc[cols_q] - df_sun_load[cols_q]
dv_sun = df_sun_calc[cols_v] - df_sun_load[cols_v]

# Report
# print(f'mean position difference = {np.mean(np.linalg.norm(dq, axis=1)):6.2e}')
print('Mean position difference in AU:')
print(f'asteroids: {np.mean(np.linalg.norm(dq_ast, axis=1)):6.2e}')
print(f'earth    : {np.mean(np.linalg.norm(dq_earth, axis=1)):6.2e}')
print(f'sun      : {np.mean(np.linalg.norm(dq_sun, axis=1)):6.2e}')

print('\nMean velocity difference in AU/day:')
print(f'asteroids: {np.mean(np.linalg.norm(dv_ast, axis=1)):6.2e}')
print(f'earth    : {np.mean(np.linalg.norm(dv_earth, axis=1)):6.2e}')
print(f'sun      : {np.mean(np.linalg.norm(dv_sun, axis=1)):6.2e}')

Mean position difference in AU:
asteroids: 3.13e-07
earth    : 3.07e-12
sun      : 1.52e-15

Mean velocity difference in AU/day:
asteroids: 1.24e-09
earth    : 5.31e-14
sun      : 1.92e-18

## Splined Direction at ZTF Dates

In [9]:
ztf, mjd_unq = load_ztf_det_all()

In [10]:
# mjd for the spline output
mjd = mjd_unq
mjd

array([58270.1704167, 58270.1713426, 58270.315625 , ..., 58905.5320718,
       58905.5325231, 58905.5330093])

In [11]:
df_ast_load_out, df_earth_load_out, df_sun_load_out = spline_ast_vec_df(df_ast=df_ast_load, df_earth=df_earth_load, df_sun=df_sun_load, mjd=mjd, include_elts=False)

In [12]:
df_ast_load_out

,asteroid_num,mjd,qx,qy,qz,vx,vy,vz
0,1,58270.170417,-2.389738,0.795419,0.465454,-0.003552,-0.010559,0.000321
1,1,58270.171343,-2.389741,0.795409,0.465454,-0.003552,-0.010559,0.000321
2,1,58270.315625,-2.390253,0.793886,0.465501,-0.003546,-0.010561,0.000320
3,1,58270.317986,-2.390261,0.793861,0.465501,-0.003546,-0.010561,0.000320
4,1,58270.318472,-2.390263,0.793855,0.465502,-0.003546,-0.010561,0.000320
...,...,...,...,...,...,...,...,...
6215099,64,58905.531169,-1.048476,-2.608685,-0.056214,0.008779,-0.004749,0.000088
6215100,64,58905.531620,-1.048472,-2.608688,-0.056214,0.008779,-0.004749,0.000088
6215101,64,58905.532072,-1.048468,-2.608690,-0.056214,0.008779,-0.004749,0.000088
6215102,64,58905.532523,-1.048464,-2.608692,-0.056214,0.008779,-0.004749,0.000088
6215103,64,58905.533009,-1.048459,-2.608694,-0.056214,0.008779,-0.004749,0.000088

In [13]:
df_ast_calc_out, df_earth_calc_out, df_sun_calc_out = spline_ast_vec_df(df_ast=df_ast_calc, df_earth=df_earth_calc, df_sun=df_sun_calc, mjd=mjd, include_elts=False)

In [14]:
df_ast_calc_out

,element_id,mjd,qx,qy,qz,vx,vy,vz
0,0,58270.170417,-2.389738,0.795418,0.465454,-0.003552,-0.010559,0.000321
1,0,58270.171343,-2.389741,0.795409,0.465454,-0.003552,-0.010559,0.000321
2,0,58270.315625,-2.390253,0.793885,0.465501,-0.003546,-0.010561,0.000320
3,0,58270.317986,-2.390262,0.793860,0.465501,-0.003546,-0.010561,0.000320
4,0,58270.318472,-2.390263,0.793855,0.465502,-0.003546,-0.010561,0.000320
...,...,...,...,...,...,...,...,...
6215099,63,58905.531169,-1.048475,-2.608685,-0.056214,0.008779,-0.004749,0.000088
6215100,63,58905.531620,-1.048471,-2.608688,-0.056214,0.008779,-0.004749,0.000088
6215101,63,58905.532072,-1.048467,-2.608690,-0.056214,0.008779,-0.004749,0.000088
6215102,63,58905.532523,-1.048463,-2.608692,-0.056214,0.008779,-0.004749,0.000088
6215103,63,58905.533009,-1.048459,-2.608694,-0.056214,0.008779,-0.004749,0.000088

In [15]:
dq_ast = df_ast_calc_out[cols_q] - df_ast_load_out[cols_q]
dv_ast = df_ast_calc_out[cols_v] - df_ast_load_out[cols_v]

dq_earth = df_earth_calc_out[cols_q] - df_earth_load_out[cols_q]
dv_earth = df_earth_calc_out[cols_v] - df_earth_load_out[cols_v]

dq_sun = df_sun_calc_out[cols_q] - df_sun_load_out[cols_q]
dv_sun = df_sun_calc_out[cols_v] - df_sun_load_out[cols_v]

# Report
# print(f'mean position difference = {np.mean(np.linalg.norm(dq, axis=1)):6.2e}')
print('Mean position difference in AU:')
print(f'asteroids: {np.mean(np.linalg.norm(dq_ast, axis=1)):6.2e}')
print(f'earth    : {np.mean(np.linalg.norm(dq_earth, axis=1)):6.2e}')
print(f'sun      : {np.mean(np.linalg.norm(dq_sun, axis=1)):6.2e}')

print('\nMean velocity difference in AU/day:')
print(f'asteroids: {np.mean(np.linalg.norm(dv_ast, axis=1)):6.2e}')
print(f'earth    : {np.mean(np.linalg.norm(dv_earth, axis=1)):6.2e}')
print(f'sun      : {np.mean(np.linalg.norm(dv_sun, axis=1)):6.2e}')

Mean position difference in AU:
asteroids: 3.08e-07
earth    : 5.02e-12
sun      : 2.48e-15

Mean velocity difference in AU/day:
asteroids: 1.22e-09
earth    : 8.67e-14
sun      : 3.13e-18